.box{
    width:16px;
    height:90px;
    background-color: rgba(69, 35, 35, 0.721);
    margin-left: 40px;
}

#wrapper{
    display: flex;
    justify-content: space-around;
}

#box_wrapper{
    display: flex;
    flex-direction: column;
}

button{
    height:100px
}