#a{
    background-color: red;
}
#b{
    background-color: orange;
}
#c{
    background-color: yellow;
}
#d{
    background-color: green;
}
#e{
    background-color: blue;
}
#f{
    background-color: purple;
}
#g{
    background-color: pink;
}