*{
    margin: 0;
    padding: 0;

}

#wrapper{
    display: grid;
    grid-template-columns: 11.5% 11.5% 7% 20% 20% 15% 7.5% 7.5%;
    grid-template-rows: 15% 15% 8% 18% 12.5% 9% 13.5% 9%;
    grid-template-areas: 
    "a a b b b c d d" 
    "a a e e f c d d"
    "a a e e f c k l"
    "g h h h f c k l"
    "g i i j f c k l"
    "g i i j f o o o"
    "m m m m n o o o"
    "m m m m n p q q";
    column-gap: 5px; 
    row-gap: 5px;
}

#a{
    grid-area: a;
}

#b{
    grid-area: b;
}
#c{
    grid-area: c;
}
#d{
    grid-area: d;

}
#e{
    grid-area: e;
}
#f{
    grid-area: f;
}
#g{
    grid-area: g;
}
#h{
    grid-area: h;
}
#i{
    grid-area: i;
}
#j{
    grid-area: j;
}
#k{
    grid-area: k;
}
#l{
    grid-area: l;
}
#m{
    grid-area: m;
}
#n{
    grid-area: n;
}
#o{
    grid-area: o;
}
#p{
    grid-area: p;
}
#q{
    grid-area: q;
}

#wrapper div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    pointer-events: none; 
}


/* img:hover{ */
    /* opacity: 1; */
    /* cursor: pointer;  */
    /* rotate: 2deg; */
    /* transform: scale(1.03);  */
/* } */